<header class="bg-gray-900 text-white p-4 flex justify-between items-center">
    <a [routerLink]="['/']" class="flex items-center logo">
        <h1 class="text-xl font-bold">Reparaciones DonVargas</h1>
    </a>

    <!-- <div class="flex space-x-4">
        <a [routerLink]="['carrito']" class="flex items-center">
            <button class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded">
                🛒 Carrito
            </button>
        </a>
        <a [routerLink]="['crear']" class="flex items-center">
            <button class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded">
                📦 Añadir producto
            </button>
        </a>
        <a [routerLink]="['login']" class="flex items-center">
            <button class="bg-green-500 hover:bg-green-600 text-white px-4 py-2 rounded">
                🔑 Iniciar Sesión
            </button>
        </a>
    </div> -->
</header>