<section class="results">
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Empleado</th>
        <th>Tipo</th>
        <th>Precio</th>
        <th>Categoría</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let incidencia of filteredIncidenciasList"
        [ngStyle]="{'background-color': getBackgroundColor(incidencia.categoria)}">
        <td>{{ incidencia.nombre }}</td>
        <td>{{ incidencia.empleado }}</td>
        <td>{{ incidencia.tipo }}</td>
        <td>{{ incidencia.precio }}€</td>
        <td>{{ incidencia.categoria }}</td>
        <td><button (click)="selectIncidencia(incidencia)">Gestionar</button>
          <a [routerLink]="['/incidentes/', incidencia.id]">
            <button>Editar</button>
          </a>
          <button (click)="borrarIncidencia(incidencia.id);">Borrar</button>
        </td>
      </tr>
    </tbody>
  </table>
</section>