<section>
    <form (submit)="filterResults(filter.value); $event.preventDefault();">
        <input type="text" placeholder="Filtrar por categoria" #filter />
        <button class="primary" type="button" (click)="filterResults(filter.value)">Buscar</button>
    </form>
</section>

<section *ngIf="incidenciaSeleccionada" class="selected-incidencia"
    [ngStyle]="{'background-color': getBackgroundColor(incidenciaSeleccionada.categoria)}">
    <h2>{{ incidenciaSeleccionada.nombre }}</h2>
    <p>Tipo: {{ incidenciaSeleccionada.tipo }}</p>
    <p>Precio: {{ incidenciaSeleccionada.precio }}€</p>
    <p>Categoría: {{ incidenciaSeleccionada.categoria }}</p>
    <p>Descripción: {{ incidenciaSeleccionada.descripcion }}</p>
    <p>Fecha: {{ incidenciaSeleccionada.fecha }}</p>
    <button class="primary" (click)="closeIncidencia()">Cerrar</button>
</section>

<app-incidencias [filteredIncidenciasList]="filteredIncidenciasList" (incidenciaSeleccionada)="selectIncidencia($event)"></app-incidencias>