<section>
    <form (submit)="filterResults(filter.value); $event.preventDefault();">
        <input type="text" placeholder="Filtrar por categoria" #filter />
        <button class="primary" type="button" (click)="filterResults(filter.value)">Buscar</button>
    </form>
</section>

<section *ngIf="incidenciaSeleccionada" class="selected-incidencia"
    [ngStyle]="{'background-color': getBackgroundColor(incidenciaSeleccionada.categoria)}">
    <h2>{{ incidenciaSeleccionada.nombre }}</h2>
    <p>Empleado: {{ incidenciaSeleccionada.empleado }}</p>
    <p>Tipo: {{ incidenciaSeleccionada.tipo }}</p>
    <p>Precio: {{ incidenciaSeleccionada.precio }}€</p>
    <p>Categoría: {{ incidenciaSeleccionada.categoria }}</p>
    <p>Descripción: {{ incidenciaSeleccionada.descripcion }}</p>
    <p>Fecha de la incidencia: {{ incidenciaSeleccionada.fechaIncidencia | date:'yyyy-MM-dd'}}</p>
    <p>Fecha de registro de la incidencia: {{incidenciaSeleccionada.createdAt | date:'yyyy-MM-dd' }}</p>
    <button class="primary" (click)="closeIncidencia()">Cerrar</button>
</section>

<section class="counters">
    <div class="counter">
        <i class="bi bi-clipboard-check text-primary me-2"></i> Log: {{ logCount }}
    </div>
    <div class="counter">
        <i class="bi bi-exclamation-triangle-fill text-warning me-2"></i> Warn: {{ warnCount }}
    </div>
    <div class="counter">
        <i class="bi bi-exclamation-diamond-fill text-danger me-2"></i> Error: {{ errorCount }}
    </div>
</section>

<app-incidencias [filteredIncidenciasList]="filteredIncidenciasList"
    (incidenciaSeleccionada)="selectIncidencia($event)"></app-incidencias>

<!-- incidenciaSeleccionada hace referencia al Output de incidencias.component.ts 
 Este objeto llama al método selectIncidencia de este componente, que recibe la incidencia
 seleccionada del método selectIncidencia del componente incidencias, y ya la muestra en 
 el html -->

